<header class="pa-header">
    <div class="pa-header__title"></div>
    <div class="pa-header__nav">
        <div class="set"></div>
        <div class="nav-link">
            <a class="pa-header__nav-inner" href="index.html">Home</a>
            <a class="pa-header__nav-inner" href="profile.html">Profile</a>
            <div class="nav-search"></div>
        </div>
    </div>
</header>