<header class="pa-header">
    <span class="pa-header__title">Palo Alto</span>
    <img class="set" src="../../../images/burger.png" alt="set">
    <div class="pa-header__nav">
        <span class="navigation"><a class="pa-header__nav-inner" href="index.html">Home</a></span>
        <span class="navigation"><a class="pa-header__nav-inner" href="profile.html">Profile</a></span>
        <img class="navigation" src="../../../images/search.png" alt="search-top">
    </div>
</header>