<header class="pa-header">
    <div class="pa-header__title"></div>
    <div class="pa-header__nav">
        <div class="set"></div>
        <div class="nav-link">
            <a class="pa-header__nav-inner" href="index.html">Home</a>
            <a class="pa-header__nav-inner" href="profile.html">Profile</a>
            <div class="nav-search"></div>
        </div>
    </div>
</header>
<!--<div class="pa-case"></div>-->
<nav class="pa-set-sidebar">
	<form class="pa-set-sidebar__header">
    	<input type="text" name="search" placeholder="Search" class="pa-set-sidebar__nav-search pa-set-sidebar__nav-search_icon">
    </form>
    <div class="pa-set-sidebar__wall"></div>
    <div class="pa-set-sidebar__nav-link">
    	<a href="./index.html" class="pa-set-sidebar__nav-link_set">Home</a>
    	<a href="./profile.html" class="pa-set-sidebar__nav-link_set">Profile</a>
    </div>
    <div class="pa-set-sidebar__footer">
    	<div class="pa-set-sidebar__title"></div>
    	<div class="pa-set-sidebar__copyright">
    		Designed &amp; Developed by <br> PixelBuddha Team
    	</div>
    </div>
</nav>