<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Palo Alto</title>
    <link href="../styles/reset.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="pa">
        <header class="pa__header">
            Palo Alto
        </header>

    {% block main %}
    {% endblock %}

    </div>
    <footer class="footer">
        <div class="footer__text">
            Palo Alto
        </div>
    </footer>
  </body>
</html>
