<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="7bits, Омск" />
    <meta name="description" content="7bits courses" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palo Alto</title>
<!--    <link href="./styles/normalize.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="./main.css"/>
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png" sizes="32x32"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
    <script type="text/javascript" src="./scripts/scripts.js"></script>
  </head>
  <body>

      <div class="pa">
    {{> includes/header/header}}

    {{#> main-block}}
    {{/main-block}}
      </div>
    {{> includes/footer/footer}}
  </body>
</html>