@import 'variables';

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #f7f9fc; 
}

a {
    text-decoration: none;
}

.pa {
    width: $width-content;
    margin: $margin-center;
}

.slide-nav {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pa {
        width: $width-content-768;
    }
}

@media screen and (max-width: 768px) {
    .pa {
        width: $width-content-320;
    }
    .slide-nav {
    display: block;
    width: $width-content-320;
    height: 100%;
    position: fixed;
    background-color: #252b4d;
    }
    
    .slide-nav__search{
        padding: auto, 55px;
        
    }
}