@import 'variables';

.pa-profile-autorization {
    width: 365px;
    margin: 40px auto 115px auto;
    padding-bottom: 75px;
    box-sizing: $box-block;
}

.pa-profile-autorization__text {
    height: 55px;
    width: 100%;
    background-color: #f7f9fc;
    box-sizing: $box-block;
    border: 0;
    font-size: 20px;
    padding: 0 30px;
    margin: 13px 0 25px 0;
}

.pa-profile-autorization__text:focus {
    border: 2px solid #5c6bc0;
}

.pa-profile-autorization__text_calendar {
    background-image: url(../images/calend.png);
    background-repeat: no-repeat;
    background-position: 95% 50%; 
}


.pa-profile-autorization__text::placeholder {
    color: #cacbcd;
}
/*
.pa-profile-autorization__radio-title {
    margin-top: 20px;
    padding-left: 25px;
    background-image: url(../images/radio0.png);
    background-repeat: no-repeat;
}
*/
.pa-profile-autorization__radio-title:checked {
    background-image: url(../images/radio1.png);
    background-repeat: no-repeat;
}

.pa-profile-autorization__submit {
    width: 190px;
    height: 53px;
    margin-top: 45px;
    background-color: $primary-color;
    color: #5c6bc0;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
}


.pa-profile-autorization__submit:hover {
    border: 2px solid #f1f1f1;
}

.pa-profile-autorization__submit:active {
    border: 2px solid #7d89cd;
}
