@import 'variables';

.pa {
    width: $width-content;
    margin: $margin-center;
}

.pa__header {
    height: 190px;
    padding-top: 67px;
    font-size: 42px;
    font-style: italic;
    font-weight: $weight-font;
    box-sizing: $box-block;    
}
