@import 'variables';

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #333;
  background-color: #f7f9fc; 
}

.pa-section {
    background-color: $primary-color;
    box-shadow: 0 0 20px #e1e1e1;
    padding-bottom: 58px;
    margin-bottom: 52px;
}

.pa-section:last-child {
    margin-bottom: 110px;
}

.pa-section__header {
    width: 758px;
    height: 155px;
    padding-top: 67px;
    box-sizing: $box-block;
    margin: $margin-center;
    font-size: 40px;
    font-weight: $weight-font;
    border-bottom: 2px solid #eee;
}

.pa-article {
    width: 758px;
    margin: $margin-center;
    position: relative;
}

.pa-article__header_index {
    padding-bottom: 40px;
    box-sizing: $box-block;
    margin: $margin-center;
    border-bottom: 2px solid #eee;
    position: relative;
}

.pa-article__header_date {
    font-weight: $weight-font;
    font-size: 14px;
    color: #bdbdbd;
    padding: 60px 0 18px 0;
}

.pa-article__header_label {
    background-color: #5c6bc0;
    color: $primary-color;
    padding: 10px 12px;
    display: inline-block;
    font-size: 14px;
    right: -108px;
    top: 20px;
    font-weight: $weight-font;
    position: absolute;
}

.pa-article__header_title {
    line-height: 39pt;
    font-size: 40px;
    font-weight: $weight-font; 
}

.pa-article__content {
    margin: $margin-center;
}

.pa-article__content_text {
    padding-top: 35px;
    font-size: 17px;
    color: #585858;
    line-height: 24pt;
}

.pa-article__foo {
    position: relative;
}

.pa-article__foo_more {
    display: inline-block;
    margin-top: 30px;
}

.article-button {
    padding: 20px 35px;
    background-color: $primary-color;
    color: #5c6bc0;
    font-size: 21px;
    box-sizing: $box-block;
    font-weight: $weight-font;
    text-transform: uppercase;
    border: 2px solid #fff;
}

.article-button:hover {
    border: 2px solid #f1f1f1;
}

.article-button:active {
    border: 2px solid #7d89cd;
}

    
.pa-article__foo_hash {
    display: inline-block;
    position: absolute;
    top: 60px;
    right: -10px;
}   
    
.tag {
    padding-left: 10px;
    font-size: 15px;
}

.tag:first-child {
    padding-left: 0;
}

.tag__hash {
    color: #d2d2d2;
}

.tag__hash:hover {
    color: #5c6bc0;
    text-decoration: underline;
}

.tag__hash:active {
    color: #5c6bc0;
    text-decoration: none;
}

.pa-article__header_photo {
    background: url(./images/image.jpg) left center no-repeat;
    width: 950px;
    height: 636px;
    position: relative;
    right: 95px;
}

.pa-article__header_preamble {
    font-size: 25px;
    font-style: italic;
    color: #b8b8b8;
    font-weight: 500;
    line-height: 1.6;
    padding-top: 35px;
}

@media only screen and (min-device-pixel-ratio: 1.5) {
  .pa-article__photo {
    background-image: url(./images/image@2x.jpg) left center no-repeat;
    width: 950px;
    height: 636px;
    }

.pa-article__header_photo {
    background-image: url(./images/image-320@2x.jpg) left center no-repeat;
    width: 280px;
    height: $height-image-320;
    position: relative;
    right: 25px;
    }
            
.pa-article__header_photo {
    background: url(./images/image-768@2x.jpg) left center no-repeat;
    width: 768px;
    left: -25px;
    }
}

@media screen and (max-width: 1024px) {
    
    .pa-section {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .pa-article {
        width: 718px;
    }
    
    .pa-article__header_label {
        right: -40px;
        top: 20px;
    }
    
    .pa-article__header_photo {
        background: url(./images/image-768.jpg) left center no-repeat;
        width: 768px;
        height: 511px;
        left: -25px;
    }
    .pa-article__foo_hash {
        display: inline-block;
        position: absolute;
        top: 60px;
        right: 0;
    } 
}


@media screen and (max-width: 768px) {
    .pa-article {
        width: 230px;
    }
    
    .pa-article__header_date {
        padding: 40px 0 18px 0;
    }
    
    .pa-article__header_title {
        line-height: 25pt;
        font-size: 24px;
    }
    
    .pa-article__header_index {
        padding-bottom: 30px;
        margin-bottom: 15px;
    }
    
    .pa-article__content_text {
        padding-top: 10px;
        font-size: 16px;
    }
    
    .pa-article__foo_more {
        margin-top: 0;
    }
    
    .pa-article__foo_hash {
        top: 80px;
        right: 20px;
    }
    
    .pa-section {
        margin-bottom: 20px ;
    }
    
        
    .pa-section:last-child {
        margin-bottom: 55px  ;
    }
    
    .pa-section__header {
        width: 230px;
    }
    
    .pa-article__header_photo {
        background: url(./images/image-320.jpg) left center no-repeat;
        width: 280px;
        height: $height-image-320;
        left: -25px;
    }
        
    .pa-article__header_label {
        right: -25px;
        top: 0px;
    }
      
    .header-image {
        right: -25px;
        top: -198px;
    }
    
    .pa-article__header_preamble {
        font-size: 18px;
        padding-top: 15px;
    }
}