<footer class="footer">
        <div class="pa-header__title_footer"></div>
        <div class="nav-link_footer">
            <a class="nav-link__nav-inner_footer" href="index.html">Home</a>
            <a class="nav-link__nav-inner_footer" href="profile.html">Profile</a>
            <div class="nav-search_footer"></div>
        </div>
        <div class="footer__copiright">
            <span class="footer__copiright_info">
                © 2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by 
            </span>
            <span class="footer__copiright_name">
                PixelBuddha Team
            </span>
        </div>
        <div class="footer__social">
            <div class="footer__social_facebook social-button"></div>
            <div class="footer__social_twitter social-button"></div>
            <div class="footer__social_instagramm social-button"></div>
            <div class="footer__social_pin social-button"></div>
        </div>
</footer>