<footer class="footer">
        <div class="footer__text">
            Palo Alto
        </div>
        <div class="footer__nav">
            <span class="footer__nav-inner navigation"><a class="footer__nav-inner navigation" href="index.html">Home</a></span>
            <span class="navigation"><a class="footer__nav-inner navigation" href="profile.html">Profile</a></span>
            <img class="navigation" src="../../../images/searchfooter.png" alt="search-bottom">
        </div>
        <div class="footer__copiright">
            <span class="footer__copiright_info">
                © 2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by 
            </span>
            <span class="footer__copiright_name">
                PixelBuddha Team
            </span>
        </div>
        <div class="footer__social">
            <div class="footer__social_facebook social-button"></div>
            <div class="footer__social_twitter social-button"></div>
            <div class="footer__social_instagramm social-button"></div>
            <div class="footer__social_pin social-button"></div>
        </div>
</footer>