@import 'variables';

.footer {
    height: 385px;
    background-color: #5c6bc0;
    text-align: center;
    vertical-align: bottom;
    box-sizing: $box-block;
    padding: 0 38px;
}

.pa-header__title_footer {
    background: url(./images/title_footer.png) left center no-repeat;
    display: inline-block;
    width: 135px;
    height: 28px;
    margin-top: 57px;
}

.nav-link_footer {
    padding-top: 56px;
}

.nav-link__nav-inner_footer {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 35px;
}

.nav-link__nav-inner_footer-active {
    color: #a9afdb;
}

.nav-link__nav-inner_footer:first-child {
    margin-left: 0;
}

.nav-search_footer {
    background: url(./images/searchfooter.png) left center no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 35px;
}

.footer__copiright_info {
    font-size: 14px;
    color: #a9afdb;
}

.footer__copiright_name {
    font-size: 16px;
    color: $primary-color;
    font-weight: $weight-font;
}

.footer__social {
    padding-top: 35px;
    padding-bottom: 35px;
}

.social-button {
    width: 21px;
    height: 21px;
    margin-left: 25px;
    display: inline-block;
}

.social-button:first-child {
    margin-left: 0;
}

.footer__social_facebook {
    background-image: $image-social;
    background-position: 0 0;
}

.footer__social_twitter {
    background-image: $image-social;
    background-position: -22px 0;
}

.footer__social_instagramm {
    background-image: $image-social;
    background-position: -44px 0;
}

.footer__social_pin {
    background-image: $image-social;
    background-position: -66px 0;
}

.footer__copiright {
    padding-top: 56px;
}

@media only screen and (min-device-pixel-ratio: 1.5) {
    .footer__title {
        background: url(./images/title_footer@2x.png) left center no-repeat;
        display: inline-block;
        width: 135px;
        height: 28px;
        margin-top: 57px;
    }
    
    .nav-search_footer {
        background: url(./images/searchfooter@2x.png) left center no-repeat;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 35px;
    }
}

@media screen and (max-width: 768px) {
    
    .nav-link__nav-inner_footer {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }
    
    .nav-link__nav-inner_footer:first-child {
        margin-top: 0;
    }
    
    .nav-search_footer {
        display: none;
    }
    
    .footer {
        height: 468px;
    }
}