$primary-color: #fff;
$box-block: border-box;
$weight-font: 600;
$margin-center: auto;
$width-content-320: 280px;
$width-content-768: 768px;
$width-content: 950px;
$size-font-up: 14px;
$image-social: url(./images/social.png);
$image-social-retina: url(./images/social@2x.png);
$height-image-320: 198px;